<div id="blog-info" style="display: none">
    <p id="user_agent"></p>
    <div id="user_layout_box">
        <div id="user_layout"></div>
        <div id="user_layout_default" class="cursor-pointer" onclick="changeLayout('default')"></div>
        <div id="user_layout_simple" class="cursor-pointer" onclick="changeLayout('simple')"></div>
    </div>
    <div id="user_font_size_box">
        <div id="user_font_size"></div>
        <div id="user_font_size_menu">
            <div id="user_font_size_default" class="cursor-pointer" onclick="changeFontSize(0)"></div>
            <div id="user_font_size_bigger" class="cursor-pointer" onclick="changeFontSize(1)"></div>
            <div id="user_font_size_smaller" class="cursor-pointer" onclick="changeFontSize(-1)"></div>
        </div>
    </div>
    <p>
        <span id="user_appearance">Appearance: </span>
        <span id="user_appearance_brightly" style='margin-right: 4px;' onclick="changeTheme('light')">Brightly</span>
        <span id="user_appearance_darkly" onclick="changeTheme('dark')">Darkly</span>
    </p>
    <p>
        <span id="user_lang">Locale: </span>
        <span id="user_lang_en" style='margin-right: 4px;' onclick="changeLang('en')">en-US</span>
        <span id="user_lang_ko" onclick="changeLang('ko')">ko-KR</span>
    </p>
</div>
