<div>
    <div style="display: flex; gap: 10px; align-items: center;">
        <div id="hansanhha" class="cursor-pointer" style="font-size: 1.17em; font-weight: 600;">Hansanhha</div>
        <input id="input_search" type="text" class="win95-input"/>
        <div class="win95-btn" onclick="search()">search</div>
    </div>
</div>

<div id="search-result-box" style="display: none;" class="post-list">
</div>

<script>
document.getElementById("hansanhha").addEventListener("click", () => {
        location.href = window.origin;
});

document.getElementById("input_search").addEventListener('keydown', (e) => {
    if (e.key === 'Enter') {
        e.preventDefault();
        search();
    }
});

document.getElementById("search-result-box").style.display="none";

async function search() {
    const searchQuery = document.getElementById("input_search").value.trim().toLowerCase();
    if (!searchQuery) return;

    try {
        const response = await fetch("/search.json");
        const textData = await response.text();
        const jsonData = JSON.parse(textData);
        printSearchResult(searchQuery, jsonData);
    } catch (error) {
        printErrorResult();
    }

    toggleGoToTopByResizing();
}

function printSearchResult(searchQuery, posts) {
    const $pageContentWrapper = document.getElementById("page-content-wrapper");
    const $searchResultBox = document.getElementById("search-result-box");
    const $idxPathsBox = document.getElementById("idx-paths-box");
    const $pageInfoTitle = document.getElementById("page-info-title");
    const $pageInfoDate = document.getElementById("page-info-date");
    $pageContentWrapper.innerHTML = "";
    $searchResultBox.innerHTML = "";
    $searchResultBox.style.display="";
    $pageContentWrapper.appendChild($searchResultBox);

    if ($idxPathsBox) $idxPathsBox.innerHTML = "";
    if ($pageInfoTitle) $pageInfoTitle.innerHTML = "";
    if ($pageInfoDate) $pageInfoDate.innerHTML = "";

    const locale = localStorage.getItem("lang") === "ko" ? "ko-KR" : "en-US";
    const options = {
            year: 'numeric',
            month: '2-digit',
            day: '2-digit',
        };

    const matchedPosts = posts
    .filter((post) => {
        if (post.title && post.title.toLowerCase() === "index" && post.tags.length == 0) return;

        const titleMatch = post.title ? post.title.toLowerCase().includes(searchQuery) : false;
        const contentMatch = post.content ? post.content.toLowerCase().includes(searchQuery) : false;
        const pagenameMatch = post.pagename ? post.pagename.toLowerCase().includes(searchQuery) : false;
        const pagenameKoMatch = post.pagenameKo ? post.pagenameKo.toLowerCase().includes(searchQuery) : false;
        const nomiationMatch = post.nomiation ? post.nomiation.toLowerCase().includes(searchQuery) : false;
        const addressMatch = post.address ? post.address.toLowerCase().includes(searchQuery) : false;
        const nomiationKoMatch = post.nomiationKo ? post.nomiationKo.toLowerCase().includes(searchQuery) : false;
        const addressKoMatch = post.addressKo ? post.addressKo.toLowerCase().includes(searchQuery) : false;
        console.log(post.tags);
        const tagsMatch = post.tags ? post.tags.includes(searchQuery) : false;
        return titleMatch || contentMatch || pagenameMatch || pagenameKoMatch
            || nomiationMatch || addressMatch || nomiationKoMatch || addressKoMatch || tagsMatch;
    })
    .filter((post) => !post.url.includes("legacy"));

    if (matchedPosts.length === 0) {
        $searchResultBox.style.marginTop = "10px";
        $searchResultBox.textContent = localStorage.getItem("lang") === "ko" ? "검색 결과가 없습니다" : "None";
        return;
    }

    const orderedPosts = matchedPosts
            .filter((post) => !post.url.includes("legacy"))
            .sort((a, b) => {
                const aDate = a.createDate ? a.createDate : a.date;
                const bDate = b.createDate ? b.createDate : b.date;
                return new Date(bDate.replace(/-/g, '/')) - new Date(aDate.replace(/-/g, '/'));
            });

    const printPostsByCategory = (category) => {
            orderedPosts
                .filter((post) => post.category === category)
                .forEach((post) => {
                    let $category = document.getElementById(category);
                    if (!$category) {
                        $category = document.createElement("div");
                        $category.id = category;
                        $category.style.marginTop = "12px";
                        $category.classList = "post-list";
                        const $categoryTextContent = document.createElement("span");
                        $categoryTextContent.textContent = capitalize(localize(category));
                        $categoryTextContent.style.fontWeight = 600;
                        $category.appendChild($categoryTextContent)
                        $searchResultBox.appendChild($category);
                    }

                    const $post = document.createElement("div");
                    const postDate = post.createDate ? post.createDate : post.date;
                    const formattedDate = new Date(postDate.replace(/-/g, '/')).toLocaleDateString(locale, options);
                    const title = locale === "ko-KR" ? post.pagenameKo ? post.pagenameKo : post.pagename : post.pagename;
                    const nonUndefinedTitle = title ? title : post.title;
                    const capitalizedTitle = capitalize(nonUndefinedTitle);

                    $post.innerHTML = `
                        <span class='post-date'>${formattedDate}</span> <span class='post-link'><a href="${post.url}">${capitalizedTitle}</a></span>
                    `;
                    $category.appendChild($post);
            });
        }

    printPostsByCategory("projects");
    printPostsByCategory("code");
    printPostsByCategory("daily");
    printPostsByCategory("archives");
    printPostsByCategory("sunrise");
}

function printErrorResult() {
    const $pageContentWrapper = document.getElementById("page-content-wrapper");
    $pageContentWrapper.innerHTML = "";
    $pageContentWrapper.textContent = localStorage.getItem("lang") === "ko" ? "검색에 실패했습니다" : "Failed Searching";
}

function toggleGoToTopByResizing() {
    const $goToTopBox = document.getElementById("go-to-top-box");
    if (!$goToTopBox) return;
    const scrollHeight = document.documentElement.scrollHeight;
    const adjustedHeight = scrollHeight;
    const exceeds = adjustedHeight > (window.innerHeight + 10);
    $goToTopBox.style.display = exceeds ? "flex" : "none";
}

function localize(category) {
    if (localStorage.getItem("lang") !== "ko") return category;

    let localized;
    switch(category) {
        case "projects":
        localized = "프로젝트";
        break;

        case "code":
        localized = "프로그래밍";
        break;

        case "daily":
        localized = "일상";
        break;

        case "archives":
        localized = "아카이브";
        break;

        case "sunrise":
        localized = "해맞이";
        break;
    }

    return localized
}

function capitalize(str) {
  return str
    .split(" ")
    .map(word => word.charAt(0).toUpperCase() + word.slice(1))
    .join(" ");
}
</script>
