<div>
    <p id="user_visit_day"></p>
    <p id="user_agent"></p>
    <p id="user_layout">Layout: Default</p>
    <p>
        <span id="user_appearance">Appearance: </span>
        <span id="user_appearance_brightly" style='margin-right: 2px;' onclick="changeTheme('brightly')">Brightly</span>
        <span id="user_appearance_darkly" onclick="changeTheme('darkly')">Darkly</span>
    </p>
    <p>
        <span id="user_lang">Locale: </span>
        <span id="user_lang_en" style='margin-right: 2px;' onclick="changeLang('en')">en-US</span>
        <span id="user_lang_ko" onclick="changeLang('ko')">ko-KR</span>
    </p>
</div>