<!-- <ul id="blog_categories" class="horizontal-list">
    <li><a id="projects_link">Projects</a></li>
    <li><a id="papers_link">Papers</a></li>
    <li><a id="archives_link">Archives</a></li>   
    <li><a id="sunrise_link">Sunrise</a></li>
</ul>


<script>
document.getElementById("projects_link").href = window.location.origin + "/projects/";
document.getElementById("papers_link").href = window.location.origin + "/papers/";
document.getElementById("archives_link").href = window.location.origin + "/archives/";
document.getElementById("sunrise_link").href = window.location.origin + "/sunrise/";

const categoryPathname = window.location.pathname;
const pathnames = windowPathname.split("/").filter((p) => p !== "");

document.querySelectorAll("#blog_categories li a").forEach((category) => {
  if (pathnames.includes(category.textContent.toLowerCase())) {
    category.textContent = `[${category.textContent}]`;
  }
});
</script> -->