<script>
if (localStorage.getItem("lang") === undefined && navigator.language.startsWith("ko")) {
    localStorage.setItem("lang", "ko");
} else if (localStorage.getItem("lang") === undefined) {
    localStorage.setItem("lang", "en");
}

localStorage.getItem("lang") === "en" ? printEnLang() : printKoLang()

document.getElementById("user_agent").innerText = "User-Agent: " + navigator.userAgent;

const today = new Date();
document.getElementById("user_visit_day").innerText = today.toLocaleDateString('en-US', {
    year: 'numeric',
    month: 'long',
    day: 'numeric',
    weekday: 'long'
});

localStorage.getItem("theme") !== undefined 
    ? (localStorage.getItem("theme") === "dark") ? printDarklyAppearance() : printBrightlyAppearance()
    : (window.matchMedia("(prefers-color-scheme: dark)").matches) ? printDarklyAppearance() : printBrightlyAppearance();
    
const helloUserPreferTheme = window.matchMedia("(prefers-color-scheme: dark)");
helloUserPreferTheme.addEventListener?.("change", (e) => {
    const prefersDark = window.matchMedia("(prefers-color-scheme: dark)").matches;
    prefersDark ? printDarklyAppearance() : printBrightlyAppearance();
});

function printDarklyAppearance() {
    document.getElementById("user_appearance_darkly").classList.add("text-underline-black", "cursor-pointer");
    document.getElementById("user_appearance_brightly").classList = "cursor-pointer";
}

function printBrightlyAppearance() {
    document.getElementById("user_appearance_darkly").classList = "cursor-pointer";
    document.getElementById("user_appearance_brightly").classList.add("text-underline-black", "cursor-pointer");
}

function printEnLang() {
    document.getElementById("user_lang_en").classList.add("text-underline-black", "cursor-pointer");
    document.getElementById("user_lang_ko").classList = "cursor-pointer";
}

function printKoLang() {
    document.getElementById("user_lang_en").classList = "cursor-pointer";
    document.getElementById("user_lang_ko").classList.add("text-underline-black", "cursor-pointer");
}

function changeTheme(theme) {
    if (theme === "darkly") {
        localStorage.setItem("theme", "dark");
    } else {
        localStorage.setItem("theme", "light");
    }
    location.reload();
}

function changeLang(lang) {
    if (lang === "en") {
        localStorage.setItem("lang", "en");
    } else {
        localStorage.setItem("lang", "ko");
    }
    location.reload();
}

const $empty = document.getElementById("empty");
const $pageContentWrapper = document.getElementById("page-content-wrapper");
if ($empty) {
    $empty.textContent = localStorage.getItem("lang") === "ko" ? "빈 페이지" : "Empty Page";
} else if ($pageContentWrapper && $pageContentWrapper.childElementCount === 0) {
    const $span = document.createElement("span");
    $span.textContent = localStorage.getItem("lang") === "ko" ? "빈 페이지" : "Empty Page";
    $pageContentWrapper.innerHTML = "";
    $pageContentWrapper.appendChild($span);
}

const hyperlinks = Array.from(document.getElementsByTagName("a"));
hyperlinks.forEach((link) => {
    if (localStorage.getItem("lang") === "ko") {
        if (link.dataset.displayKo) {
            link.textContent = link.dataset.displayKo;
        }
        if (link.dataset.hrefKo) {
            link.href = link.dataset.hrefKo;
        }
    } else if (link.dataset.display){
        link.textContent = link.dataset.display;
    } else {
        link.textContent = link.textContent;
    }
});

</script>