<div style="margin-top: 10px;">
    <span id="footer">Miscellany</span>
    <div style="display: flex; flex-direction: row; gap: 6px;">
        <p><span id="internet-usernames">Internet: </span></p>
        <p><a id="github" rel="noopener noreferrer" target="_blank" href="https://www.github.com/hansanhha">GitHub</a></p>
        <p><a id="instagram" rel="noopener noreferrer" target="_blank" href="https://www.instagram.com/hansanhha/">Instagram</a></p>
        <p><a id="cosmos" rel="noopener noreferrer" target="_blank" href="https://cosmos.so/hansanhha/">Cosmos</a></p>
    </div>
</div>
