<div id="go-to-top-box" style="display: none; width: fit-content; margin-top: 10px; margin-bottom: 10px;" class="cursor-pointer">
    <span id="go-to-top"></span>
</div>
<script>
    const $goToTopBox = document.getElementById("go-to-top-box");
    const $goToTop = document.getElementById("go-to-top");

    window.addEventListener("load", () => {
        if (document.documentElement.scrollHeight > window.innerHeight) {
            $goToTopBox.style.display = "flex";
            $goToTop.textContent = localStorage.getItem("lang") === "ko" ? "위로 가기" : "go to top";
        } else {
            $goToTopBox.style.display = "none";
        }

        $goToTopBox.addEventListener("click", () => {
            window.scrollTo({
                top: 0,
                behavior: "smooth"
            });
        });
    });

    function toggleGoToTopByResizing() {
            // const $mainContainer = document.getElementsByClassName("main-container");
            // const mainContainerStyle = getComputedStyle($mainContainer[0]);
            // const marginTop = parseFloat(mainContainerStyle.marginTop);
            // const marginBottom = parseFloat(mainContainerStyle.marginBottom);
            // const adjustedHeight = scrollHeight - marginTop - marginBottom;
            const scrollHeight = document.documentElement.scrollHeight;
            const adjustedHeight = scrollHeight;
            const exceeds = adjustedHeight > (window.innerHeight + 100);
            $goToTopBox.style.display = exceeds ? "flex" : "none";
        }

    window.addEventListener("resize", toggleGoToTopByResizing);

</script>
