<div style="margin-top: 10px;">
    <p><span id="internet-usernames">Others</span></p>
    <p><span id="github">GitHub:</span> <a rel="noopener noreferrer" target="_blank" href="https://www.github.com/hansanhha">https://www.github.com/hansanhha</a></p>
    <p><span id="instagram">Instagram:</span> <a rel="noopener noreferrer" target="_blank" href="https://www.instagram.com/hansanhha/">https://www.instagram.com/hansanhha/</a></p>
    <p><span id="pinterest">Pinterest: </span><a rel="noopener noreferrer" target="_blank" href="https://pinterest.com/hansanhha/">https://pinterest.com/hansanhha/</a></p>
</div>