<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>
    {% if page.dir == "/" %}
      {{ site.title }}
    {% elsif page.page-name != nil and page.page-name-ko != nil %}
        {{ page.page-name-ko }}, {{ page.page-name }}
    {% elsif page.page-name-ko != nil %}
        {{ page.page-name-ko }}
    {% elsif page.page-name != nil %}
        {{ page.page-name }}
    {% elsif page.title != nil %}
        {{ page.title }}
    {% else %}
      {{ site.title }}
    {% endif %}
</title>
<link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml" title="{{ site.title }} Feed">

