<ul id="blog_categories" class="horizontal-list" style="margin-top: 10px;">
    <li><a id="projects_link">Projects</a></li>
    <li><a id="programming_link">Programming</a></li>
    <li><a id="daily_link">Daily</a></li>
    <li><a id="archives_link">Archives</a></li>   
    <li><a id="sunrise_link">Sunrise</a></li>
</ul>

<div id="idx-paths-box" style="display: none;">
    {% include path.html %}
</div>

{% if page.title-name != nil %}
    <div class="text-left-align">{{ page.title-name }}</div>
{% endif %}
{% if page.name != "index.md" and page.date != nil %}
    <div class="text-left-align"> {{ page.createDate }} </div>
{% endif %}

<script>
if (window.location.pathname !== "/") {
    const $idxPathsBox = document.getElementById("idx-paths-box");
    $idxPathsBox.style.display = "";
}

document.getElementById("projects_link").href = window.location.origin + "/projects/";
document.getElementById("programming_link").href = window.location.origin + "/programming/";
document.getElementById("daily_link").href = window.location.origin + "/daily/";
document.getElementById("archives_link").href = window.location.origin + "/archives/";
document.getElementById("sunrise_link").href = window.location.origin + "/sunrise/";

const windowPathname = window.location.pathname;
const pathnames = windowPathname.split("/").filter((p) => p !== "");

const userLang = localStorage.getItem("lang") !== undefined
    ? localStorage.getItem("lang") === "en" ? "en" : "ko"
    : navigator.language.startsWith("en") ? "en" : "ko";

document.querySelectorAll("#blog_categories li a").forEach((category) => {
    if (pathnames.includes(category.textContent.toLowerCase())) {
        category.textContent = `[${category.textContent}]`;
    }

    if (userLang === "ko") {
        switch (category.textContent) {
            case "Projects":
                category.textContent = "프로젝트";
                break;
            case "[Projects]":
                category.textContent = "[프로젝트]";
                break;
            case "Programming":
                category.textContent = "프로그래밍";
                break;
            case "[Programming]":
                category.textContent = "[프로그래밍]";
                break;
            case "Daily":
                category.textContent = "일상";
                break;
            case "[Daily]":
                category.textContent = "[일상]";
                break;
            case "Archives":
                category.textContent = "아카이브";
                break;
            case "[Archives]":
                category.textContent = "[아카이브]";
                break;
            case "Sunrise":
                category.textContent = "해맞이";
                break;
            case "[Sunrise]":
                category.textContent = "[해맞이]";
                break;
        }   
    }
});

</script>