<ul id="blog_categories" class="horizontal-list" style="margin-top: 8px;">
    <li><a id="projects_link">Projects</a></li>
    <li><a id="code_link">Code</a></li>
    <li><a id="daily_link">Daily</a></li>
    <li><a id="archives_link">Archives</a></li>
    <li><a id="sunrise_link">Sunrise</a></li>
</ul>

<div id="idx-paths-box" style="display: none;">
    {% include path.html %}
</div>

{% if page.layout != "sunrise" and page.title-name != nil or page.title-name-ko != nil %}
    <div id="page-info-title" class="text-left-align" style="margin-bottom: 4px;" data-title-name="{{ page.title-name }}" data-title-name-ko="{{ page.title-name-ko }}"></div>
{% endif %}

<script>
if (window.location.pathname !== "/") {
    const $idxPathsBox = document.getElementById("idx-paths-box");
    $idxPathsBox.style.display = "";
}

document.getElementById("projects_link").href = window.location.origin + "/projects/";
document.getElementById("code_link").href = window.location.origin + "/code/";
document.getElementById("daily_link").href = window.location.origin + "/daily/";
document.getElementById("archives_link").href = window.location.origin + "/archives/";
document.getElementById("sunrise_link").href = window.location.origin + "/sunrise/";

const windowPathname = window.location.pathname;
const pathnames = windowPathname.split("/").filter((p) => p !== "");

const userLang = !localStorage.getItem("lang")
    ? navigator.language.startsWith("en") ? "en" : "ko"
    : localStorage.getItem("lang") === "en" ? "en" : "ko";

const $pageInfoTitle = document.getElementById("page-info-title");
const $pageInfoDate = document.getElementById("page-info-date");

if ($pageInfoTitle) {
  $pageInfoTitle.textContent = userLang === "ko" ? $pageInfoTitle.dataset.titleNameKo ? $pageInfoTitle.dataset.titleNameKo : $pageInfoTitle.dataset.titleName : $pageInfoTitle.dataset.titleName;
}

document.querySelectorAll("#blog_categories li a").forEach((category) => {
    if (pathnames.includes(category.textContent.toLowerCase())) {
        category.textContent = `[${category.textContent}]`;
    }

    if (userLang !== "ko") {
      return;
    }

    switch (category.textContent) {
        case "Projects":
            category.textContent = "프로젝트";
            break;
        case "[Projects]":
            category.textContent = "[프로젝트]";
            break;
        case "Code":
            category.textContent = "프로그래밍";
            break;
        case "[Code]":
            category.textContent = "[프로그래밍]";
            break;
        case "Daily":
            category.textContent = "일상";
            break;
        case "[Daily]":
            category.textContent = "[일상]";
            break;
        case "Archives":
            category.textContent = "아카이브";
            break;
        case "[Archives]":
            category.textContent = "[아카이브]";
            break;
        case "Sunrise":
            category.textContent = "해맞이";
            break;
        case "[Sunrise]":
            category.textContent = "[해맞이]";
            break;
    }
});

</script>
