<div class="idx-container">
  <div class="idx-path-box">
    <div class="idx-path">
      <div style="display: flex;">
        {% assign dirs = page.path | replace_first: "_", "" | split: "/" %}
        {% assign dirPath = "" %}
        {% for dir in dirs %}
          {% unless dir == "index.md" %}
            {% if dir contains ".md" %}
              {% assign dirFilename = dir | replace: ".md" | "" %}
              {% assign dirPath = dirPath | append: "/" | append: dirFilename %}
              <span class="path-link" data-path="{{ dirPath }}" data-path-name="{{ dirFilename }}" data-path-name-ko="{{ page.page-name-ko }}" data-layout="{{ page.layout }}"></span>
            {% else %}
              {% assign dirPath = dirPath | append: "/" | append: dir %}
              <a class="path-link" data-path="{{ dirPath }}" data-path-name="{{ dir }}"></a>
            {% endif %}
          {% endunless %}
        {% endfor %}
      </div>
    </div>
  </div>
  {% if page.next-link or page.prev-link %}
    <div class="page-link">
      {% if page.prev-link %}
        {% if page.prev-link == "./index" or page.prev-link == ".index" or page.prev-link == "index" %}
          <a href={{ page.prev-link }} class="page-index-link">Index</a >
        {% else %}
          <a href={{ page.prev-link }} class="page-prev-link"></a>
        {% endif %}
      {% endif %}
      {% if page.next-link %}
        <a href={{ page.next-link }} class="page-next-link"></a>
      {% endif %}
    </div>
  {% endif %}
</div>

<script>
const pathLinks = document.querySelectorAll(".path-link");
pathLinks.forEach((link) => {
  link.href = window.location.origin + link.dataset.path;

  let linkname = localStorage.getItem("lang") === "ko" ? link.dataset.pathNameKo ? link.dataset.pathNameKo : convertLinknameToKo(link.dataset.pathName) : link.dataset.pathName;

  console.log(link.dataset);
  if (link.dataset.layout === "sunrise") {
    linkname = localStorage.getItem("lang") === "ko" ? convertLinknameToKo(link.dataset.pathName) : link.dataset.pathName;
  }
  link.textContent = "/" + capitalize(linkname);
});

const pageIndexLinks = document.querySelectorAll(".page-index-link");
pageIndexLinks.forEach((link) => {
  const lang = localStorage.getItem("lang");
  lang === "ko" ? link.textContent = "인덱스 페이지" : link.textContent = "Index";
});

const pagePrevLinks = document.querySelectorAll(".page-prev-link");
pagePrevLinks.forEach((link) => {
  const lang = localStorage.getItem("lang");
  lang === "ko" ? link.textContent = "이전 페이지" : link.textContent = "Prev";
});

const pageNextLinks = document.querySelectorAll(".page-next-link");
pageNextLinks.forEach((link) => {
  const lang = localStorage.getItem("lang");
  lang === "ko" ? link.textContent = "다음 페이지" : link.textContent = "Next";
});

function capitalize(str) {
  return str
    .split(" ")
    .map(word => word.charAt(0).toUpperCase() + word.slice(1))
    .join(" ");
}

function convertLinknameToKo(linkname) {
  const linknameLowercase = linkname.toLowerCase();
  switch (linknameLowercase) {
    case 'projects':
      return '프로젝트';
    case 'code':
      return '프로그래밍';
    case 'daily':
      return '일상';
    case 'archives':
      return '아카이브';
    case 'text':
      return '글 귀'
    case 'images':
      return '이미지'
    case 'objects':
      return '사물'
    case 'season':
      return '계절'
    case 'room':
      return '공간'
    case 'film':
      return '영화'
    case 'the weeknd':
      return '위켄드'
    case 'paintings':
      return '그림'
    case 'videos':
      return '동영상'
    case 'sky':
      return '하늘'
    case 'wave':
      return '물결'
    case 'forest':
      return '숲 속'
    case 'piano':
      return '피아노'
    case 'web pages':
      return '웹 페이지'
    case 'sunrise':
      return '해맞이';
    case 'january':
      return '1월';
    case 'february':
      return '2월';
    case 'march':
      return '3월';
    case 'april':
      return '4월';
    case 'may':
      return '5월';
    case 'june':
      return '6월';
    case 'july':
      return '7월';
    case 'august':
      return '8월';
    case 'september':
      return '9월';
    case 'october':
      return '10월';
    case 'november':
      return '11월';
    case 'december':
      return '12월';
    default:
      return linkname;
  }
}
</script>
