<div class="idx-container">
  <div class="idx-path-box">
    <div class="idx-path">
      <div style="display: flex;">
        {% assign dirs = page.path | replace_first: "_", "" | split: "/" %}
        {% assign dirPath = "" %}
        {% for dir in dirs %}
          {% unless dir == "index.md" %}
            {% if dir contains ".md" %}
              {% assign dirFilename = dir | replace: ".md" | "" %}
              {% assign dirPath = dirPath | append: "/" | append: dirFilename %}
              <a class="path-link" data-path="{{ dirPath }}" data-path-name="{{ dirFilename }}" data-path-name-ko="{{ dir.page-name-ko }}"></a>
            {% else %}
              {% assign dirPath = dirPath | append: "/" | append: dir %}
              <a class="path-link" data-path="{{ dirPath }}" data-path-name="{{ dir }}"></a>
            {% endif %}
          {% endunless %}
        {% endfor %}
      </div>
    </div>
  </div>
  {% if page.next-link or page.prev-link %}
    <div class="page-link">
      {% if page.prev-link %}
        {% if page.prev-link == "./index" or page.prev-link == ".index" or page.prev-link == "index" %}
          <a href={{ page.prev-link }} class="page-index-link">Index</a >
        {% else %}
          <a href={{ page.prev-link }} class="page-prev-link"></a>
        {% endif %}
      {% endif %}
      {% if page.next-link %}
        <a href={{ page.next-link }} class="page-next-link"></a>
      {% endif %}
    </div>
  {% endif %}
</div>

<script>
const pathLinks = document.querySelectorAll(".path-link");
pathLinks.forEach((link) => {
  link.href = window.location.origin + link.dataset.path;
  link.textContent = "/" + capitalize(link.dataset.pathName);
});

const pageIndexLinks = document.querySelectorAll(".page-index-link");
pageIndexLinks.forEach((link) => {
  const lang = localStorage.getItem("lang");
  lang === "ko" ? link.textContent = "인덱스" : link.textContent = "Index";
});

const pagePrevLinks = document.querySelectorAll(".page-prev-link");
pagePrevLinks.forEach((link) => {
  const lang = localStorage.getItem("lang");
  lang === "ko" ? link.textContent = "이전" : link.textContent = "Prev";
});

const pageNextLinks = document.querySelectorAll(".page-next-link");
pageNextLinks.forEach((link) => {
  const lang = localStorage.getItem("lang");
  lang === "ko" ? link.textContent = "다음" : link.textContent = "Next";
});

function capitalize(str) {
  return str
    .split(" ")
    .map(word => word.charAt(0).toUpperCase() + word.slice(1))
    .join(" ");
}
</script>