/*@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');*/

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-size: 16px;
}
::-webkit-scrollbar {
  display: none;
}
body::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

:root {
  cursor: default;
  --layout-margin-left: 12px;
  --layout-margin-right: 12px;
  --main-content-p: 24px;
}

::selection {
  background: transparent;
  color: #3b82f6;
}

.common-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 4px;
  margin-left: var(--layout-margin-left);
  margin-right: var(--layout-margin-right);
}

.blog-info p:first-child {
  display: block;
  margin-block-start: 16px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.blog-info p:last-child {
  display: block;
  margin-block-start: 0px;
  margin-block-end: 16px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.main-content {
  margin-top: 12px;
  margin-bottom: 12px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #343232;
    --text-color: #e3dfdf;
  }

  a {
    color: #70B5F9;
    text-decoration: none;
  }

  a:visited {
    color: #A287E1;
  }

  a:hover {
    cursor: pointer;
  }

  hr {
    width: 50%;
    margin: 10px 0;
    border: 1px solid #e3dfdf;
  }

  .main-content :not(img):not(video)::selection {
    background: transparent;
    color: #3b82f6;
  }

  .archive-text-desc {
      margin-bottom: 16px;
      color: #F5F4F0;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: white;
    --text-color: black;
  }

  a {
      text-decoration-line: none;
  }

  a:hover {
    cursor: pointer;
  }

  hr {
    width: 50%;
    margin: 10px 0;
    border: 1px solid #121212;
  }

  .main-content :not(img):not(video)::selection {
    background: transparent;
    color: #3b82f6;
  }

  .img-desc::selection {
    background: transparent;
    color: #3b82f6;
  }

  .archive-text-desc {
      margin-bottom: 16px;
      color: #2B2B2B;
  }
}

:root[data-theme="dark"] {
  --bg-color: #343232;
  --text-color: #e3dfdf;

  a {
    color: #70B5F9;
    text-decoration: none;
  }

  a:visited {
    color: #A287E1;
  }


  a:hover {
    cursor: pointer;
  }

  hr {
    width: 50%;
    margin: 10px 0;
    border: 1px solid #e3dfdf;
  }

  .main-content :not(img):not(video)::selection {
    background: transparent;
    color: #3b82f6;
  }

  .archive-text-desc {
      margin-bottom: 16px;
      color: #F5F4F0;
  }
}

:root[data-theme="light"] {
  --bg-color: white;
  --text-color: black;

  a {
      text-decoration-line: none;
  }

  a:hover {
    cursor: pointer;
  }

  hr {
    width: 50%;
    margin: 10px 0;
    border: 1px solid #121212;
  }

  .main-content :not(img):not(video)::selection {
    background: transparent;
    color: #3b82f6;
  }

  .archive-text-desc {
      margin-bottom: 16px;
      color: #2B2B2B;
  }
}

@media (max-width: 768px) {
  img {
    max-width: 100%;
    height: auto;
  }

  video {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  :root[data-theme="light"] {
    hr {
      width: 80%;
      margin: 10px 0;
      border: 1px solid #121212;
    }
  }

  :root[data-theme="dark"] {
    hr {
      width: 80%;
      margin: 10px 0;
      border: 1px solid #e3dfdf;
    }
  }
}

@media (min-width: 769px) {
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  video {
    margin-left: 0;
    margin-right: auto;
    display: block;
    max-width: 100%;
    max-height: 95vh;
    margin-bottom: 10px;
  }
}

#empty {
  margin-top: 10px;
}

#latest-posts-box {
  /*margin-top: 8px;*/
  margin-bottom: 8px;
}

.post-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.post-date {
  margin-right: 4px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-variant-numeric: tabular-nums;
  font-feature-settings: "tnum" 1;
  display: inline-block;
}

.idx-box {
  position: absolute;
  left: 5%;
  display: flex;
  flex-direction: column;
  gap: 0.6em;
  max-width: 20%;
  height: auto;
  padding: 2em;
}

.idx-page-box {
  position: absolute;
  left: 20%;
  display: flex;
  flex-direction: column;
  gap: 0.6em;
  max-width: 15%;
  height: auto;
  padding: 2em;
}

.idx-hamburger-box {
  /* position: absolute;
  top: 20%;
  left: 20%; */

}

.no-select {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.idx-box-content {
  margin: 0.5em 0;
  padding-left: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.idx-box-content-detail {
  list-style: none;
}

.main-container {
  height: 100vh;
  margin: 10% 2.5%;
}

.main-content:has(video) {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-content p:first-of-type {
  display: block;
  margin-block-start: 0px;
  margin-block-end: 8px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  line-height: var(--main-content-p);
}

.main-content p {
  display: block;
  margin-block-start: 8px;
  margin-block-end: 8px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  line-height: var(--main-content-p);
}

.main-content p:last-of-type {
  display: block;
  margin-block-start: 8px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  line-height: var(--main-content-p);
}

.main-content img {
  /* max-width: 100vw; */
  max-height: 100vh;
  object-fit: scale-down;
}

.text-left-align {
  text-align: left;
}

.image-view-selector {
  display: flex;
  gap: 0.3em;
  margin-top: 5px;
  margin-bottom: 5px;
}

#image-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0;
  align-items: flex-start;
  margin-bottom: 10px;
}

#image-container > p:first-of-type {
  margin-top: 0px;
}

#image-container > div:first-of-type {
  margin-top: 0px;
}

#image-container > div:first-of-type > p {
  margin-top: 0px;
}

#image-container > div  > p {
  margin-bottom: 0px;
}

#image-container > p {
  margin-bottom: 0;
}

.image-row {
  display: flex;
  gap: 4px;
  justify-content: flex-start;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  /*font-family: "Libre Franklin", "Arial", "Verdana", sans-serif;*/
  margin: 0;
}

ul {
  padding-inline-start: 10px;
  margin: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-left: var(--layout-margin-left);
}

ul > li:not(:last-of-type) {
  display: list-item;
  text-align: match-parent;
  margin-bottom: 4px;
}

ul > li:last-of-type {
  display: list-item;
  text-align: match-parent;
}

p {
  display: block;
  margin-block-start: 0.6em;
  margin-block-end: 0.6em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}



a:hover {
  cursor: pointer;
}

a[target="_blank"]::after {
  content: " ↗";
  font-size: 0.8em;
  display: inline-block;
  margin-left: 3px;
  margin-right: 3px;
}

thead {
  display: none;
}

h2 {
  margin-top: 40px;
  font-weight: normal;
}

h3 {
  margin-top: 24px;
  font-weight: normal;
}

h4 {
  margin-top: 8px;
  font-weight: bold;
}

h5 {
  margin-top: 4px;
  font-weight: bold;
}

.text-underline-black {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;
}

.selected-highlight::after {
  /* content: '✓'; */
  content: '*';
  margin-left: 2px;
}

.cursor-pointer {
  cursor: pointer;
}

.horizontal-list {
  list-style: none;

  padding: 0;
  margin: 0;

  display: flex;

  gap: 12px;
}

.horizontal-list li {
  cursor: pointer;
}

.images-list {
    display: flex;
    align-items: center;
    overflow-x: scroll;
}

.images-list img {
  height: 700px;
  width: auto;
}

.video-container {
  margin-top: 8px;
  margin-bottom: 8px;
}

#search-result-box {
  margin-top: 8px;
  margin-bottom: 8px;
}

#user_font_size_box {
  display: flex;
  gap: 4px;
  margin-block-start: 0.6em;
  margin-block-end: 0.6em;
}

#user_font_size_menu {
  display: flex;
  gap: 8px;
}

.video-description-box {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  margin-bottom: 12px;
  gap: 4px;
}

.video-name-desc-box {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.video-shooting-desc-box {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.webpage-link-desc-box {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  margin-left: 4px;
  margin-bottom: 16px;
  gap: 4px;
}

.post-group {
  margin-top: 24px;
}

.post-subgroup {
  margin-top: 12px;
}
