:root {
    --bg-color: white;
    --text-color: black;
}

@media (prefers-color-scheme: dark) {
    :root {
      --bg-color: #343232;
      --text-color: #e3dfdf;
    }

    a {
      color: #e3dfdf;
    }

    a:hover {
      border-bottom-color: #e3dfdf;
    }

    hr {
      width: 18vw;
      margin: 2em 0;
      border: 1px solid #e3dfdf;
    }

    .main-content a:hover {
      border-bottom-color: transparent;
      color: #2176d1;
    }
}

@media (prefers-color-scheme: light) {

    hr {
      width: 18vw;
      margin: 2em 0;
      border: 1px solid #121212;
    }
}

.idx-path-box {
    width: fit-content;
    margin-bottom: 4px;
}

.idx-path {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    /* animation: typing 0.5s steps(31) none; */
}

/* @keyframes typing {
    from { width: 0; }
    to { width: 100%; }
} */

.idx-path-list {
    display: flex;
    gap: 0.4px;
    flex-wrap: wrap;
    align-items: flex-start;
}

.path-link {
    overflow-wrap: break-word;
}

#page-info-date {
    overflow-wrap: break-word;
    margin-left: 4px;
}

@media (max-width: 768px) {
  .idx-container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-items: center; */
    /* margin-top: 20%; */
    margin-top: 12px;
  }

  .page-link {
    display: flex;
    gap: 7px;
    margin-bottom: 3px;
  }
}

@media (min-width: 769px) {
  .idx-container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-items: center; */
    /* margin-top: 10%; */
    margin-top: 12px;
  }

  .page-link {
    display: flex;
    gap: 7px;
    margin-bottom: 5px;
  }
}

.idx-content {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding-bottom: 20em;
    margin-top: 3%;
}

.title {
    margin-bottom: 10px;
}

.category {
    font-weight: 600;
}
