<!DOCTYPE html>
<html>
<head>
    {% include meta.html %}
</head>
<head>
</head>
<body>
    <main class="common-wrapper">
        {% include blog-search.html %}
        <div style="display: flex; flex-direction: column;">
            {% include common.html %}
            <div id="page-content-wrapper">
                <div></div>
            </div>
            {% include go-to-top.html %}
            <div id="page-sort" style="display: none;" data-idx-sort="{{ page.idx-sort }}"></div>
            <div id="page-category" style="display: none;" data-category="{{ page.category-name }}"></div>
            <div id="page-idx-name" style="display: none;" data-idx-name="{{ page.idx-name }}"></div>
            <div id="page-page-name" style="display: none;" data-page-name="{{ page.page-name }}"></div>
            <div id="page-page-name-ko" style="display: none;" data-page-name-ko="{{ page.page-name-ko }}"></div>
            <div id="page-is-grouped" style="display: none;" data-is-grouped="{{ page.grouped }}"></div>
            {% include footer.html %}
        </div>
    </main>
</body>
{% include default-script.html %}
<script>
if (!localStorage.getItem("layout") || localStorage.getItem("layout") === "default") loadIndexByCategoryInDefaultLayout();
else loadIndexInSimpleLayout();

async function loadIndexInSimpleLayout() {
    const $pageContentWrapper = document.getElementById("page-content-wrapper");
    const $pageCategory = document.getElementById("page-category");
    const $pageSort = document.getElementById("page-sort");
    const $pageIdxName = document.getElementById("page-idx-name");
    const $pagePageName = document.getElementById("page-page-name");
    const $pagePageNameKo = document.getElementById("page-page-name-ko");

    const sort = $pageSort.dataset.idxSort;
    const category = $pageCategory.dataset.category;
    const idxName = $pageIdxName.dataset.idxName;
    const pageName = $pagePageName.dataset.pageName;
    const pageNameKo = $pagePageNameKo.dataset.pageNameKo;
    const locale = localStorage.getItem("lang") === "ko" ? "ko-KR" : "en-US";
    const options = { year: 'numeric', month: 'long', day: 'numeric' };
    
    try {
        const response = await fetch("/search.json");
        const textData = await response.text();
        const jsonData = JSON.parse(textData);

        const categorisedIndexes = category === "sunrise"
            ? getCategorisedIndexes(idxName, jsonData, category, sort)
            : filterNestedIndexes(pageName, filterIndexesByLocale(getCategorisedIndexes(idxName, jsonData, category, sort)));

        if (categorisedIndexes.length === 0) {
            const $none = document.createElement("div");
            $none.style.fontSize = window.matchMedia('(max-width: 960px)').matches ? "64px" : "80px";
            $none.style.fontWeight = "600";
            $none.textContent = localStorage.getItem("lang") === "ko" ? "작성된 게시글이 없습니다." : "No posts.";
            $pageContentWrapper.appendChild($none);
            return;
        }

        $pageContentWrapper.style.display = "flex";
        $pageContentWrapper.style.flexDirection = "column";
        $pageContentWrapper.style.gap = "16px";

        if (document.getElementById("auto_index_error")) document.getElementById("auto_index_error").remove();

        categorisedIndexes.forEach(post => {
            const $post = document.createElement("div");
            const postDate = post.createDate ? post.createDate : post.date;
            const formattedDate = new Date(postDate.replace(/-/g, '/')).toLocaleDateString(locale, options);
            const title = locale === "ko-KR" ? post.pagenameKo ? post.pagenameKo : post.pagename : post.pagename;
            const nonUndefinedTitle = title ? title : post.title;
            const capitalizedTitle = capitalize(String(nonUndefinedTitle));

            $post.innerHTML = 
            `
                <div class='post-link-simple-layout'>
                    <div class='post-link' style="width: 100%;">
                            <a class='post-link-hover' href="${post.url}" style="color: var(--text-color); display: inline-block; width: 100%"> 
                                ${capitalizedTitle}
                            </a>
                    </div>
                </div>
            `;
            $pageContentWrapper.appendChild($post);
        })
    } catch (error) {
        const $errorBox = document.createElement("div");
        const $error = document.createElement("div");
        const $errorGuide = document.createElement("div");
        const $errorMsg = document.createElement("div");
        $errorBox.id = "auto_index_error";
        $errorBox.style.display = "flex";
        $errorBox.style.flexDirection = "column";
        $errorBox.style.wordBreak = "break-all";
        $errorBox.style.overflowWrap = "anywhere";
        $errorBox.style.gap = "4px";
        $errorBox.style.fontSize = "96px";
        $errorBox.style.fontWeight = "600";
        $error.innerText = "SORRY, ERROR";
        $errorGuide.innerText = "HERE ARE SOME EXPLANATION";
        $errorMsg.innerText = "➞ " + error;
        $errorBox.appendChild($error);
        $errorBox.appendChild($errorGuide);
        $errorBox.appendChild($errorMsg);
        $pageContentWrapper.appendChild($errorBox);
    }

    if (!window.matchMedia('(max-width: 960px)').matches && (location.pathname.endsWith("/") || location.pathname.endsWith("/index.html"))) {
        const postLinkHyperlinks = Array.from(document.getElementsByClassName("post-link-hover"));
        postLinkHyperlinks.forEach(link => {
            link.addEventListener("mouseover", () => {
                const $pageInfoGuide = document.getElementById("page_info_guide");
                $pageInfoGuide.innerText = link.innerText + " 페이지로 이동합니다.";
            });
            link.addEventListener("mouseleave", () => {
                const $pageInfoGuide = document.getElementById("page_info_guide");
                $pageInfoGuide.innerText = "";
            });
        });
    }
}

async function loadIndexByCategoryInDefaultLayout() {
    const $pageContentWrapper = document.getElementById("page-content-wrapper");
    const $pageSort = document.getElementById("page-sort");
    const $pageCategory = document.getElementById("page-category");
    const $pageIdxName = document.getElementById("page-idx-name");
    const $pagePageName = document.getElementById("page-page-name");
    const $pagePageNameKo = document.getElementById("page-page-name-ko");
    const $pageIsGrouped = document.getElementById("page-is-grouped");
    $pageContentWrapper.style.innerHTML = "";
    $pageContentWrapper.style.display = "block";

    const sort = $pageSort.dataset.idxSort;
    const category = $pageCategory.dataset.category;
    const idxName = $pageIdxName.dataset.idxName;
    const pageName = $pagePageName.dataset.pageName;
    const pageNameKo = $pagePageNameKo.dataset.pageNameKo;
    const isGrouped = $pageIsGrouped.dataset.isGrouped;
    const locale = localStorage.getItem("lang") === "ko" ? "ko-KR" : "en-US";
    const options = { year: 'numeric', month: 'long', day: 'numeric' };

    try {
        const response = await fetch("/search.json");
        const textData = await response.text();
        const jsonData = JSON.parse(textData);

        const categorisedIndexes = category === "sunrise"
            ? getCategorisedIndexes(pageName, jsonData, category, sort)
            : filterNestedIndexes(pageName, filterIndexesByLocale(getCategorisedIndexes(pageName, jsonData, category, sort)));

        if (categorisedIndexes.length === 0) {
            const $none = document.createElement("p");
            $none.textContent = localStorage.getItem("lang") === "ko" ? "작성된 게시글이 없습니다." : "No posts.";
            $pageContentWrapper.appendChild($none);
            return;
        }

        if (isGrouped) {
          printGroupedIndexes(pageName, pageNameKo, categorisedIndexes, locale, options);
          return;
        }

        const printIndexByCategory = (category) => {
            categorisedIndexes
                .forEach((post) => {
                    const $post = document.createElement("p");
                    const postDate = post.createDate ? post.createDate : post.date;
                    const formattedDate = new Date(postDate.replace(/-/g, '/')).toLocaleDateString(locale, options);
                    const title = locale === "ko-KR" ? post.pagenameKo ? post.pagenameKo : post.pagename : post.pagename;
                    const nonUndefinedTitle = title ? title : post.title;
                    const capitalizedTitle = capitalize(String(nonUndefinedTitle));

                    $post.innerHTML = category === "sunrise"
                    ? `
                        <span class='post-link'><a href="${post.url}">${capitalizedTitle}</a></span>
                    `
                    : `
                        <span class='post-date'>${formattedDate}</span> <span class='post-link'><a href="${post.url}">${capitalizedTitle}</a></span>
                    `;
                    $pageContentWrapper.appendChild($post);
            });
        }

        printIndexByCategory(category);

    } catch (error) {
        $pageContentWrapper.style.display = "none";
    }
}

function getCategorisedIndexes(idxName, indexes, category, sort) {
    return indexes
          .filter((post) => !(post.url.toLowerCase().includes(idxName.toLowerCase() + "/index.html")
                            || post.url.toLowerCase().includes(idxName.toLowerCase() + "/en/index.html"))
                          && !post.url.includes("/legacy/"))
          .filter((post) => post.category.toLowerCase() === category)
          .filter((post) => post.url.includes(idxName.toLowerCase()))
          .sort((a, b) => {
              const aDate = a.createDate ? a.createDate : a.date;
              const bDate = b.createDate ? b.createDate : b.date;

              if ((sort && sort === "asc") || category === "sunrise")  return new Date(aDate.replace(/-/g, '/')) - new Date(bDate.replace(/-/g, '/'));
              else return new Date(bDate.replace(/-/g, '/')) - new Date(aDate.replace(/-/g, '/'));
          });
}

// function getSunriseIndexesByYear(indexes, year) {
//     return indexes
//             .filter((post) => post.createDate >= `${year}-01-01` && post.createDate <= `${year}-12-31`);
// }

function filterIndexesByLocale(indexes) {
    if (localStorage.getItem("lang") === "en") return indexes.filter((post) => post.url.includes("/en/"));
    return indexes.filter((post) => !post.url.includes("/en/"));
}

function printGroupedIndexes(pageName, pageNameKo, indexes, locale, options) {
    const $pageContentWrapper = document.getElementById("page-content-wrapper");
    const groupedIndexes = groupIndexes(indexes, "group");

    const defaultGroup = groupedIndexes["default"];
    if (defaultGroup) {
        const $group = document.createElement("div");
        const groupedPosts = organizeGroup(defaultGroup, $group, locale, options);
        $pageContentWrapper.appendChild(groupedPosts);
    }
    delete groupedIndexes["default"];

    const nullGroup = groupedIndexes["null"];
    if (nullGroup) {
        let groupName = "";
        if (pageName.toLowerCase() === "daily" || pageNameKo === "일상") {
            groupName = localStorage.getItem("lang") === "ko" ? "뒤돌아보고, 멈추고, 앞으로 가고" : "Looking Back, Stopping, Going Forward";
        }
        const $group = document.createElement("div");
        const $groupName = document.createElement("div");
        $groupName.innerText = groupName;
        $groupName.classList.add("post-group-name");
        $group.appendChild($groupName);
        $groupName.style.marginTop = "4px";
        $groupName.style.marginBottom = "4px";
        // $group.classList.add("post-group");
        const groupedPosts = organizeGroup(nullGroup, $group, locale, options);
        $pageContentWrapper.appendChild(groupedPosts);
    }
    delete groupedIndexes["null"];

    Object.keys(groupedIndexes).forEach(group => {
      const $group = document.createElement("div");
      const $groupName = document.createElement("div");
      $groupName.innerText = group;
      $groupName.classList.add("post-group-name");
      $group.appendChild($groupName);
      $group.classList.add("post-group");

      const groupedPosts = organizeGroup(groupedIndexes[group], $group, locale, options);
      $pageContentWrapper.appendChild(groupedPosts);
    });
}

function filterNestedIndexes(pageName, indexes) {
  const path = window.location.pathname;
  const basePath = path.replace(/(?:\/en)?\/index\.html$/, "");
  const escapedBasePath = basePath.replace(/[.*+?^${}()|[\]\\]/g, "\\$&");

  const currentPageRegex = new RegExp(`^${escapedBasePath}/(?:en/)?(?!index\.html$)[^/]+\.html$`);
  const subPageOnlyIndexRegex = new RegExp(`^${escapedBasePath}/[^/]+/(?:en/)?index\.html$`);
  const currentPageRegex2 = new RegExp(`^${escapedBasePath}(?:en/)?(?!index\.html$)[^/]+\.html$`);
  const subPageOnlyIndexRegex2 = new RegExp(`^${escapedBasePath}[^/]+/(?:en/)?index\.html$`);

  if (escapedBasePath === "/" + pageName.toLowerCase() + "/en/") {
    const subPageOnlyIndexRegex3 = new RegExp(`^/${pageName.toLowerCase()}/[^/]+/(?:en/)index\.html$`);
    return indexes.filter((post) => currentPageRegex.test(post.url) || subPageOnlyIndexRegex.test(post.url)
            || currentPageRegex2.test(post.url) || subPageOnlyIndexRegex2.test(post.url) || subPageOnlyIndexRegex3.test(post.url));
  } else {
    return indexes.filter((post) => currentPageRegex.test(post.url) || subPageOnlyIndexRegex.test(post.url)
            || currentPageRegex2.test(post.url) || subPageOnlyIndexRegex2.test(post.url));
  }
}

function groupIndexes(indexes, groupBy) {
  return Object.groupBy(indexes, post => post[groupBy]);
}

function organizeGroup(groupedIndexesMap, $group, locale, options) {
  const subGroupedIndexesMap = groupIndexes(groupedIndexesMap, "subgroup");
  Object.keys(subGroupedIndexesMap);

  let subGroupCount = 1;
  for (const indexKey of Object.keys(subGroupedIndexesMap)) {
    const $subGroup = document.createElement("div");
    if (subGroupCount > 1) $subGroup.classList.add("post-subgroup");
    for (const post of subGroupedIndexesMap[indexKey]) {
      const $post = document.createElement("p");
      const postDate = post.createDate ? post.createDate : post.date;
      const formattedDate = new Date(postDate.replace(/-/g, '/')).toLocaleDateString(locale, options);
      const title = locale === "ko-KR" ? post.pagenameKo ? post.pagenameKo : post.pagename : post.pagename;
      const nonUndefinedTitle = title ? title : post.title;
      const capitalizedTitle = capitalize(String(nonUndefinedTitle));
      $post.innerHTML = `<span class='post-date'>${formattedDate}</span> <span class='post-link'><a href="${post.url}">${capitalizedTitle}</a></span>`;
      $subGroup.appendChild($post);
    }
    $group.appendChild($subGroup);
    subGroupCount++;
  }

  return $group;
}

function capitalize(str) {
  return str
    .split(" ")
    .map(word => word.charAt(0).toUpperCase() + word.slice(1))
    .join(" ");
}
</script>
</html>
