<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="../images/favicon.png" type="image/x-icon">
  <title>{{ site.title }}</title>
  <style>
    thead {
      display: none;
    }
    img {
      display: block;
      max-width: 100%;
      height: auto;
    }

    @media (max-width: 768px) {
      img {
        width: 100%;
        height: auto;
      }
    }
  </style>
</head>
<body>
  <header>
    <div>
      {{ page.dir }}
      {% unless page.name == "index" %}
        {{ page.name | split: '.' | first }}
      {% endunless %}
    </div>
    <h2>{{ page.title }}</h2>
  </header>
  <main>
    <div>
      <a href="{{ page.dir | replace: page.name, '' }}">out</a>
    </div>

    {{ content }}
  </main>
</body>
</html>

