<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="../images/favicon.png" type="image/x-icon">
  <title>{{ site.title }}</title>
  <style>
    thead {
      display: none;
    }
    img {
      display: block;
      max-width: 100%;
      height: auto;
    }

    @media (max-width: 768px) {
      img {
        width: 100%;
        height: auto;
      }
    }
  </style>
</head>
<body>
<header>
  <div>
    {% unless page.dir == "/" %}
      <div style="display: flex;">
          {% assign dirs = page.dir | split: '/' %}
          {% assign depth = dirs.size | minus: 2 %}
          {% assign maxDepth = depth %}
          {% if depth == 1 and depth == maxDepth %}
            <a href="/">home/</a><a href="./">{{ dirs.first }}/</a>
          {% else %}
            {% for dir in dirs %}
              {% if dir != "" %}
                {% assign relative_path = "" %}
                {% for i in (1..depth) %}
                  {% assign relative_path = relative_path | append: "../" %}
                {% endfor %}
                {% if depth == maxDepth %}
                  <a href="/">home/</a><a href="{{ relative_path }}">{{ dir }}/</a>
                {% else %}
                  {% if depth == 0 %}
                    <a href="./">{{ dir }}</a>
                  {% else %}
                    <a href="{{ relative_path }}">{{ dir }}/</a>
                  {% endif %}
                {% endif %}
                {% assign depth = depth | minus: 1 %}
              {% endif %}
            {% endfor %}
          {% endif %}
          {% if page.name != "index.md" %}
            {{ page.name | split: '.' | first }}
          {% endif %}
      </div>
    {% endunless %}
  </div>
  <h2>{{ page.title }}</h2>
</header>
  <main>
    {% unless page.dir == "/" %}
      <div>
        {% if page.name == "index.md" %}
          <a href="../">out</a>
        {% else %}
          <a href="./">out</a>
        {% endif %}
      </div>
    {% endunless %}

    {{ content | default: "empty" }}
  </main>
</body>
</html>

