<!DOCTYPE html>
<html lang="ko">
<head>
	<link rel="stylesheet" href="/assets/default.css">
	<link rel="stylesheet" href="/assets/path.css">
	<link rel="stylesheet" href="/assets/lang.css">
	{% include meta.html %}
</head>
<body>
	<div class="main-container">
		{% include path.html %}
		{% include nav.html %}
		<main class="main-content">
			{% if page.content != nil and page.content != "" %}
				{{ content }}
			{% else %}
				<span id="empty"></span>
			{% endif %}
		</main>
	</div>
</body>
{% include index-box.html %}
<script>
	const $empty = document.getElementById("empty");

	if ($empty != undefined) {
        const lang = localStorage.getItem("lang");
        if (lang === "한글") {
            $empty.textContent = "빈 페이지";
        } else {
            $empty.textContent = "empty page";
        }
    }
</script>
</html>

