<!DOCTYPE html>
<html lang="ko">
<head>
    <link rel="stylesheet" href="/assets/default.css">
    <link rel="stylesheet" href="/assets/path.css">
    {% include meta.html %}
    {% include theme.html %}
</head>
<body>
    <div class="index-container">
        {% include path.html %}
        <div class="idx-content">
            {% if page.content != nil and page.content != "" %}
                    {{ content }}
            {% else %}
                <span id="empty"></span>
            {% endif %}
        </div>
    </div>
</body>
{% include index-box.html %}
<script>
	const $empty = document.getElementById("empty");

    if ($empty != undefined) {
        const lang = localStorage.getItem("lang");
        if (lang === "한글") {
            $empty.textContent = "빈 페이지";
        } else {
            $empty.textContent = "empty page";
        }
    }

    const $aList = Array.from(document.getElementsByTagName("a"));

    const korean = localStorage.getItem("lang") === "한글";
    $aList.forEach($a => {
        if (korean) {
            if ($a.dataset.displayKo != undefined) {
                $a.textContent = $a.dataset.displayKo;
            }
            if ($a.dataset.hrefKo != undefined) {
                $a.href = $a.dataset.hrefKo;
            }
        } else if ($a.dataset.display != undefined){
            $a.textContent = $a.dataset.display;
        } else {
            $a.textContent = $a.textContent;
        }
    });

</script>
</html>