<!DOCTYPE html>
<html lang="ko">
<head>
    <link rel="stylesheet" href="/assets/item.css">
	<link rel="stylesheet" href="/assets/default.css">
	<link rel="stylesheet" href="/assets/path.css">
	<link rel="stylesheet" href="/assets/lang.css">
	{% include meta.html %}
	{% include theme.html %}
</head>
<body>
    <div style="display: flex; flex-direction: column; margin-top: 5px; padding-left: 10px; gap: 10px;">
        {% include blog-search.html %}
        <div style="display: flex; flex-direction: column;">
            {% include common.html %}
            {% if page.content != nil and page.content != "" %}
                <div id="page-content-wrapper">
                    <p id="nomiation" data-nomiation="{{ page.nomiation }}" data-nomiation-ko="{{ page.nomiation-ko }}"></p>
                    <p id="address" data-address="{{ page.address }}" data-address-ko="{{ page.address-ko }}"></p>
                    {{ content }}
                </div>
				{% include go-to-top.html %}
			{% else %}
				<span>empty page</span>
			{% endif %}
            {% include internet-usernames.html %}
        </div>
    </div>
</body>
{% include default-script.html %}
<script>
    const $nomiation = document.getElementById("nomiation");
    const $address = document.getElementById("address");

    if (localStorage.getItem("lang") === "ko") {
        $nomiation.textContent = $nomiation.dataset.nomiationKo;
        $address.textContent = $address.dataset.addressKo;
    } else {
        $nomiation.textContent = $nomiation.dataset.nomiation;
        $address.textContent = $address.dataset.address;
    }

	const images = Array.from(document.getElementsByTagName("img")); 
    images.forEach(img => {
        function limitImageHeight() {
            const viewportHeight = window.innerHeight;
            const maxHeight = viewportHeight * 0.98;
            
            if (img.naturalHeight > viewportHeight) {
                img.style.maxHeight = maxHeight + "px";
                img.style.width = "auto";
            }
        }
        
        if (img.complete) {
            limitImageHeight();
        } else {
            img.addEventListener("load", limitImageHeight);
        }
    });
</script>
</html>

