<!DOCTYPE html>
<html>
<head>
	{% include meta.html %}
</head>
<body>
    <main class="common-wrapper">
        {% include blog-search.html %}
        <div style="display: flex; flex-direction: column;">
            {% include common.html %}
            {% if page.content != nil and page.content != "" %}
                <div id="page-content-wrapper">
                    <div class="video-container">
                        <div id="video-loading-indicator" style="display: flex;"></div>
                        <div id="video-box">
                            {{ content }}
                        </div>
                    </div>
                </div>
                {% include go-to-top.html %}
            {% else %}
                <span id="empty"></span>
            {% endif %}
            {% include footer.html %}
        </div>
    </main>
</body>
{% include default-script.html %}
<script>
const delay = ms => new Promise(resolve => setTimeout(resolve, ms));
let videoCount;
let loadedvideoCount = 0;
document.addEventListener("DOMContentLoaded", async (event) => {
    const videos = document.getElementsByTagName("video");
    const $videoBox = document.getElementById('video-box');
    const $loadingIndicator = document.getElementById('video-loading-indicator');

    $loadingIndicator.style.display = "flex";
    $loadingIndicator.style.alignItems = "center";
    $videoBox.style.display = "none";
    if (document.documentElement.getAttribute("data-theme") === "light" || localStorage.getItem("theme") === "light") {
        $loadingIndicator.innerHTML = localStorage.getItem("lang") === "ko"
        ? "<span>비디오 다운로드 중</span><img src='/assets/img/loading-windows98.gif' style='width: 30px; height: 30px;'/>"
        : "<span>loading video</span><img src='/assets/img/loading-windows98.gif' style='width: 30px; height: 30px;'/>";
    } else {
        $loadingIndicator.innerHTML = localStorage.getItem("lang") === "ko"
        ? "<span>비디오 다운로드 중</span>"
        : "<span>loading video</span>";
    }

    videoCount = videos.length;
    for (let i = 0; i < videoCount; i++) {
        videos[i].load();
        videos[i].addEventListener("loadeddata", () => {
            loadedvideoCount++;
            if (videoCount == loadedvideoCount) {
                $loadingIndicator.style.display = "none";
                $videoBox.style.display = "block";
            }
        });
    }

    const $videos = document.querySelectorAll(".archive-video");
    $videos.forEach($video => {
        $video.playsInline = true;
        $video.addEventListener("loadedmetadata", () => {
          printVideoMeatadata($video);
        });
    });
});

function printVideoMeatadata($video) {
  if (!$video.dataset) {
    return;
  }
  const $videoDescriptionBox = document.createElement("div");
  const $videoNameBox = document.createElement("div");
  const $videoShootingDescBox = document.createElement("div");
  $videoDescriptionBox.classList.add("video-description-box");
  $videoNameBox.classList.add("video-name-desc-box");
  $videoShootingDescBox.classList.add("video-shooting-desc-box");
  let videoName, videoPlace, videoDevice, videoDate, videoRunningTime, videoDesc = "";
  if (localStorage.getItem("lang") === "ko") {
    videoName = $video.dataset.nameKo;
    videoPlace = $video.dataset.placeKo;
    videoDevice = $video.dataset.deviceKo;
    videoDesc = $video.dataset.descKo;
    if ($video.dataset.date) {
        videoDateInfo = new Date($video.dataset.date);
        videoDate = videoDateInfo.toLocaleDateString("ko-KR", {
            year: 'numeric',
            month: 'long',
            day: 'numeric',
            weekday: 'long'
        });
    }
  } else {
    videoName = $video.dataset.name;
    videoPlace = $video.dataset.place;
    videoDevice = $video.dataset.device;
    videoDesc = $video.dataset.desc;
    if ($video.dataset.date) {
        videoDateInfo = new Date($video.dataset.date);
        videoDate = videoDateInfo.toLocaleDateString("en-US", {
            year: 'numeric',
            month: 'long',
            day: 'numeric',
            weekday: 'long'
        });
    }
  }

  const duration = $video.duration;
  const minutes = Math.floor(duration / 60);
  const seconds = Math.floor(duration % 60);
  videoRunningTime = `${minutes}:${String(seconds).padStart(2, "0")}`;

  if (videoName) {
    const $videoName = document.createElement("div");
    $videoName.innerText = videoName;
    $videoNameBox.appendChild($videoName);
  }

  if (videoDesc) {
    const $videoDesc = document.createElement("div");
    $videoDesc.innerText = videoDesc;
    $videoNameBox.appendChild($videoDesc);
  }

  if (videoPlace) {
    const $videoPlace = document.createElement("div");
    $videoPlace.innerText = videoPlace;
    $videoDescriptionBox.appendChild($videoPlace);
  }

  if (videoDate) {
    const $videoDate = document.createElement("div");
    $videoDate.innerText = videoDate + ", ";
    $videoShootingDescBox.appendChild($videoDate);
  }

  if (videoDevice) {
    const $videoDevice = document.createElement("div");
    $videoDevice.innerText = videoDevice + ", ";
    $videoShootingDescBox.appendChild($videoDevice);
  }

  if (videoRunningTime) {
    const $videoRunningTime = document.createElement("div");
    $videoRunningTime.innerText = videoRunningTime;
    $videoShootingDescBox.appendChild($videoRunningTime);
  }

  $videoDescriptionBox.appendChild($videoNameBox);
  $videoDescriptionBox.appendChild($videoShootingDescBox);
  $video.after($videoDescriptionBox);
}
</script>
</html>
