<!DOCTYPE html>
<html lang="ko">
<head>
	<link rel="stylesheet" href="/assets/item.css">
	<link rel="stylesheet" href="/assets/default.css">
	<link rel="stylesheet" href="/assets/path.css">
	<link rel="stylesheet" href="/assets/lang.css">
	{% include meta.html %}
    {% include theme.html %}
</head>
<body>
    <div style="display: flex; flex-direction: column; margin-top: 5px; padding-left: 10px; gap: 10px;">
        {% include blog-search.html %}
        <div style="display: flex; flex-direction: column;">
            {% include common.html %}
            {% if page.content != nil and page.content != "" %}
                <div id="page-content-wrapper">
                    <div class="video-container">
                        <div id="video-loading-indicator">      
                        </div>
                        <div id="video-box">
                            {{ content }}
                        </div>
                    </div>
                </div>
                {% include go-to-top.html %}
            {% else %}
                <span id="empty"></span>
            {% endif %}
            {% include internet-usernames.html %}
        </div>
    </div>
</body>
{% include default-script.html %}
<script>
document.addEventListener("DOMContentLoaded", (event) => {
    const video = document.getElementsByTagName("video")[0];
    const videoBox = document.getElementById('video-box');
    const loadingIndicator = document.getElementById('video-loading-indicator');

    const lang = localStorage.getItem("lang");

    video.load();

    video.addEventListener("loadstart", () => {
        loadingIndicator.style.display = "block";
        videoBox.style.display = "none";
        if (lang === "ko") {
            loadingIndicator.textContent = "비디오 다운로드 중";
        } else {
            loadingIndicator.textContent = "loading video";
        }
    });

    video.addEventListener("loadeddata", () => {
        loadingIndicator.style.display = "none";
        videoBox.style.display = "block";
    });

    video.addEventListener("canplay", () => {
        loadingIndicator.style.display = "none";
        videoBox.style.display = "block";
    });
});
</script>
</html>

