<!DOCTYPE html>
<html lang="ko">
<head>
	<link rel="stylesheet" href="/assets/default.css">
	<link rel="stylesheet" href="/assets/path.css">
	<link rel="stylesheet" href="/assets/lang.css">
	{% include meta.html %}
</head>
<body>
	<div class="main-container">
		{% include path.html %}
		<main class="main-content">
			{% if page.content != nil and page.content != "" %}
                <div class="video-container">
                    <div id="video-loading-indicator">      
                    </div>
                    <div id="video-box">
                        {{ content }}
                    </div>
                </div>
				{% include go-to-top.html %}
			{% else %}
				<span id="empty"></span>
			{% endif %}
		</main>
	</div>
</body>
{% include index-box.html %}
<script>
const $empty = document.getElementById("empty");

if ($empty != undefined) {
    if (localStorage.getItem("lang") === "한글") {
        $empty.textContent = "빈 페이지";
    } else {
        $empty.textContent = "empty page";
    }
}

document.addEventListener("DOMContentLoaded", (event) => {
    const video = document.getElementsByTagName("video")[0];
    const videoBox = document.getElementById('video-box');
    const loadingIndicator = document.getElementById('video-loading-indicator');

    const lang = localStorage.getItem("lang");

    video.addEventListener("loadstart", () => {
        loadingIndicator.style.display = "block";
        videoBox.style.display = "none";
        if (lang === "한글") {
            loadingIndicator.textContent = "비디오 다운로드 중";
        } else {
            loadingIndicator.textContent = "loading video";
        }
    });

    video.addEventListener("waiting", () => {
        loadingIndicator.style.display = "block";
        videoBox.style.display = "none";
        if (lang === "한글") {
            loadingIndicator.textContent = "비디오 다운로드 중";
        } else {
            loadingIndicator.textContent = "loading video";
        }
    });

    video.addEventListener("canplaythrough", () => {
        loadingIndicator.style.display = "none";
        videoBox.style.display = "block";
    });

    video.addEventListener("playing", () => {
        loadingIndicator.style.display = "none";
        videoBox.style.display = "block";
    });
});
</script>
</html>

