<!DOCTYPE html>
<html>
<head>
  {% include meta.html %}
</head>
<body>
    <main class="common-wrapper">
        {% include blog-search.html %}
        <div style="display: flex; flex-direction: column;">
            {% include common.html %}
            {% if page.content != nil and page.content != "" %}
                <div id="page-content-wrapper">
                    {{ content }}
                </div>
                {% include go-to-top.html %}
            {% else %}
                <div id="empty"></div>
            {% endif %}
            {% include footer.html %}
        </div>
    </main>
</body>
{% include default-script.html %}
<script>
const $webPageLinks = document.querySelectorAll(".webpage-link");

$webPageLinks.forEach(link => {
  let linkDesc, linkURL, linkTags;

  if (localStorage.getItem("lang") === "ko") {
    linkDesc = link.dataset.descKo;
    linkTags = link.dataset.tagsKo;
  } else {
    linkDesc = link.dataset.desc;
    linkTags = link.dataset.tags;
  }

  const $linkDescBox = document.createElement("div");
  $linkDescBox.classList.add("webpage-link-desc-box");

  if (linkDesc) {
    const $linkDesc = document.createElement("div");
    $linkDesc.textContent = "└ " + linkDesc;
    $linkDescBox.appendChild($linkDesc);
  }

  if (linkTags) {
    const $linkTags = document.createElement("div");
    $linkTags.textContent = "└ " + linkTags;
    $linkDescBox.appendChild($linkTags);
  }

  link.after($linkDescBox);
});

</script>
</html>
